form.pmpro_form label.pmprorh_radio_label {float: none; font-weight: normal; cursor: pointer;}
form.pmpro_form label.pmprorh_checkbox_label {float: none; font-weight: normal; cursor: pointer;}
form.pmpro_form input[type=checkbox] {cursor: pointer;}
form.pmpro_form input[readonly], form.pmpro_form select[readonly], form.pmpro_form textarea[readonly] {opacity:0.5; filter:alpha(opacity=50);}