/*
	These styles are copied from the Paid Memberships Pro plugin. This file will not be loaded if the PMPro plugin is already activated.
*/

/*--------------------------------------------------
	Messages - Success, Error, Alert
----------------------------------------------------*/
.pmpro_message {background-color: #D5E4F7; background-position: 3px 5px; background-repeat: no-repeat; margin: .5em 0; padding: 6px 6px 6px 25px; color: #345395; font-size: 11px; font-weight: bold; line-height: 1.3em; }

.pmpro_success {background-color: #CFEECA; background-image: url(../images/icon_success.gif); color: #208A1B; }
.pmpro_error {background-color: #F9D6CB; background-image: url(../images/icon_error.gif); color: #E36154; }
.pmpro_alert {background-color: #FFF6CC; background-image: url(../images/icon_alert.gif); color: #CF8516; }

.pmpro_message a {color: #345395; }
.pmpro_success a {color: #208A1B; }
.pmpro_error a {color: #E36154; }
.pmpro_alert a {color: #CF8516; }

form.pmpro_form .pmpro_checkout-field-checkbox label {display: inline-block; cursor: pointer; width: auto; }