form.pmpro_form .pmpro_checkout-fields div.pmpro_checkout-field-radio-item,
form.pmpro_form .pmpro_member_profile_edit-fields div.pmpro_checkout-field-radio-item {
	display: inline-block;
	margin: 0 1em 0 0;
}
form.pmpro_form .pmpro_checkout-field-radio-item label,
form.pmpro_form .pmpro_member_profile_edit-fields .pmpro_checkout-field-radio-item label {
	display: inline-block;
	cursor: pointer;
	width: auto;
}
form.pmpro_form input[type=checkbox] {
	cursor: pointer;
}
form.pmpro_form input[readonly],
form.pmpro_form select[readonly],
form.pmpro_form textarea[readonly] {
	opacity:0.5;
	filter:alpha(opacity=50);
}
form.pmpro_form .select2-container {
	min-width: 240px;
}
form.pmpro_form .pmpro_checkout-fields div.pmprorh_grouped_checkboxes ul,
form.pmpro_form .pmpro_member_profile_edit-fields div.pmprorh_grouped_checkboxes ul {
	padding: 0;
	list-style-type: none;
}
form.pmpro_form .pmpro_checkout-fields div.pmpro_checkout-field-file small.lite,
form.pmpro_form .pmpro_member_profile_edit-fields div.pmpro_checkout-field-file small.lite {
	display: block;
	margin-top: 1em;
}
form.pmpro_form .pmpro_member_profile_edit-fields div.pmpro_checkout-field-select2 select {
	min-height: 80px;
	min-width: 200px;
}
form.pmpro_form .pmprorh_asterisk abbr {
	border: none;
	text-decoration: none;
}
form.pmpro_form .pmpro_checkout-field-hide-required .pmpro_asterisk {
	display: none;
}
form.pmpro_form .pmpro_member_profile_edit-fields div.pmprorh_file_preview {
	display: block;
	margin: 1em 0 0 0;
}
div.pmprorh_file_preview img {
	max-height: 150px;
	max-width: 150px;
}
button.pmprorh_delete_restore_file,
button.pmprorh_delete_restore_file:hover {
	margin: 0;
	padding: 0;
	box-shadow: initial;
	border: initial;
	border-radius: initial;
	background: initial;
	font-size: initial;
	transform: initial;
	cursor: initial;
	text-align: initial;
	color: initial;
	text-decoration: underline;
}